body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2d53793a;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #4882bc;
}

.logo-container {
    margin-right: auto;
}

.logo {
    height: 50px;
    width: auto;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

button {
    margin-left: 10px;
}

#movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Her satırda 4 film */
    gap: 20px;
    padding: 20px;
    margin: 0 10%; /* Sağ ve soldan %10 boşluk bırakma */
    box-sizing: border-box; /* Padding ve border'ı genişliğe dahil et */
}

.movie {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; /* Kartın genişliğini yüzdeye göre ayarlama */
    max-width: 250px; /* Maksimum genişlik belirleme */
}

.movie img {
    width: 100%;
    height: 300px; /* Sabit yükseklik belirleme */
    object-fit: cover; /* Posterlerin tam olarak sığması için */
}

.movie h2 {
    margin: 10px 0;
    font-size: 18px;
}

.movie p {
    margin: 10px;
    font-size: 14px;
}

.movie:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


/* Modal Background */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Modal Header */
.modal-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.modal-header h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
}

.close:hover {
    color: #000;
}

/* Form Group */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Submit Button */
.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, transform 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.submit-button:active {
    background-color: #004085;
    transform: scale(1.02);
}

/* Form Footer */
.form-footer {
    text-align: center;
    margin-top: 10px;
}

.form-footer a {
    color: #007bff;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}


.profile-menu {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.profile-menu button {
    display: block;
    width: 100%;
    background-color: #007bff; /* Mavi arka plan rengi */
    color: #ffffff;
    border: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.profile-menu button:hover {
    background-color: #0056b3; /* Hover efekti için daha koyu mavi */
    transform: scale(1.05); /* Hover efekti için büyütme */
}

.profile-menu button:active {
    background-color: #004080; /* Tıklama efekti için daha koyu mavi */
    transform: scale(1.02); /* Tıklama efekti için küçültme */
}

#profile-settings-button, #logout-button {
    background-color: #007bff; /* Mavi arka plan rengi */
    color: #ffffff; /* Beyaz yazı rengi */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    margin: 5px 0; /* Butonlar arasında boşluk bırakma */
}

#profile-settings-button:hover, #logout-button:hover {
    background-color: #0056b3; /* Hover efekti için daha koyu mavi */
    transform: scale(1.05); /* Hover efekti için büyütme */
}

#profile-settings-button:active, #logout-button:active {
    background-color: #004080; /* Tıklama efekti için daha koyu mavi */
    transform: scale(1.02); /* Tıklama efekti için küçültme */
}

#register-button, #login-button {
    background-color: #28a745; /* Yeşil arka plan rengi */
    color: #ffffff; /* Beyaz yazı rengi */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 10px; /* Butonlar arasında boşluk bırakma */
}

#register-button:hover, #login-button:hover {
    background-color: #218838; /* Hover efekti için daha koyu yeşil */
    transform: scale(1.05); /* Hover efekti için büyütme */
}

#register-button:active, #login-button:active {
    background-color: #1e7e34; /* Tıklama efekti için daha koyu yeşil */
    transform: scale(1.02); /* Tıklama efekti için küçültme */
}

.movie-details {
    display: flex;
    flex-direction: row; /* Yatay hizalama */
    gap: 20px; /* Elemanlar arasında boşluk */
    padding: 20px;
    width: 100%; /* Kart genişliğini ayarla */
    max-width: 1000px; /* Maksimum genişlik sınırı */
    margin: 0 auto; /* Ortalamak için otomatik margin */
}

.movie-details img {
    height: auto;
    border-radius: 10px;
}

.movie-info {
    flex: 1; /* Bilgi kısmının esneklik kazandırılması */
}

.movie-info h2 {
    font-size: 28px; /* Başlık font büyüklüğü */
    margin: 0 0 10px 0;
}

.movie-info p {
    font-size: 18px; /* Paragraf font büyüklüğü */
    margin: 10px 0;
}

.movie-info p strong {
    font-weight: bold;
}